.Header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    margin: 30px 0;
    padding: 30px 0;
    box-shadow: 0 2px 2px rgba(0,0,0, 0.15);
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);
}


    @media (max-width: 900px) { 
        .Header {
        margin: 30px 0;
        padding: 30px 0  10px 0;
    }
}

    @media (max-width: 640px) { 
        .Header {
        margin: 30px 0;
        padding: 30px 0  10px 0;
    }
}


.Header a {
    color: black; 
    font-size: .8em;
    font-weight: 300;
}


.HeaderScrolled {
    background: rgb(255, 255, 255);
    align-items: baseline;
    padding: 40px 0 20px 0;
    margin: 0 0;
}

    @media (max-width: 900px) { 
        .HeaderScrolled {
        padding: 50px 0  10px 0;
    }
}

    @media (max-width: 640px) { 
        .HeaderScrolled {
        padding: 50px 0 0px 0;
    }

}

.HeaderGroup {
    max-width: 400px;
    padding-right: 4.5em;
    padding-top: 2px;
    float: right;
    display: grid;
    grid-gap: 25px;
    letter-spacing: .1em;
    grid-template-columns: repeat(4,auto);
    align-items: center;
    justify-items: center;
    
}

    @media (max-width: 900px) { 
        .HeaderGroup {
        display: none;
    }
}

.HeaderGroup :hover {
    border-bottom: 2px solid;
    border-bottom-color:  rgba(0,102,255);
    transform: translateY(-3px);
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);
    
}


.HeaderBrand {
    margin: -1.3em 2em 0 4.5em;
    justify-content: top;
    align-items: center;
    justify-items: center;

}
    
    @media (max-width: 720px) { 
        .HeaderBrand {
        margin: -1.3em 0 0 1em;
    }
}

    @media only screen and (max-width: 600px) {
        .HeaderBrand {
        margin: -1.3em 0 0 0.5em;
    }
}

.HeaderBrand a {
    color: black;
    font-weight: 400;
    text-align: start;
    font-size: 1em;
    letter-spacing: .15em;
    line-height: 1.4em;
    text-transform: uppercase;
    

}

.HeaderBrand :hover{
    color: black;
    border-bottom: 2px solid;
    border-bottom-color:  rgba(0,102,255);
    transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1.0);
}

.HeaderMenu {
    margin: 0em 1em 0 0em;
    justify-content: top;
    align-items: center;
    justify-items: center;   
    float: right;

}

    @media (max-width: 720px) { 
        .HeaderMenu {
        margin: 0 1em 0 0;
    }
}

    @media (max-width: 640px) { 
        .HeaderMenu {
        margin: 0 1em 0 0;
    }
}  

.dropdown {
    float: right;
    overflow: hidden;
    margin: -.4em 0 0 2em;
  }
  
  @media (min-width: 900px) {
    .dropdown {
    display: none;
    }
}


  .dropdown .dropbtn {
    font-size: .9em;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn,   
  .navbar a:active, .dropdown:active .dropbtn {
    background-color: white;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a :hover,  .dropdown-content a :active {
    box-shadow: 0 2px 2px rgba(0,0,0, 0.15);
    color:  rgba(0,102,255);
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);
  }
  
  .dropdown:hover .dropdown-content,   .dropdown:active .dropdown-content {
    display: block;
    }
